.root{
    -fx-background-color: #0d47a1;
}

.table-view{
    -fx-background-color: #f5fbfe;
    -fx-background-radius: 10px;
}
.table-view .table-column{
    -fx-background-radius: 10px;
    -fx-border-color:#f5fbfe #E3F2FD #E3F2FD #f5fbfe;
}

.table-view .table-column .label{
    -fx-text-fill: white;
    -fx-background-color: #0d47a1;
}

.table-row-cell{
    -fx-cell-size: 30px;
    -fx-font-family: "Calibri";
    -fx-font-size: 16px;
    -fx-background: #f5fbfe;
}
.table-row-cell:odd {
    -fx-background: #E3F2FD;
}

.search-pane{
    -fx-background-color: #f5fbfe;
    -fx-background-radius: 10px;
}
.search-result-pane{
    -fx-background-color: #0d47a1;
    -fx-background-radius: 10px;
}

.search-button{
    -fx-text-fill: #0d47a1;
    -fx-border-color:#0d47a1;
    -fx-border-width:2px;
    -fx-border-radius: 30px;
}


.search-button:hover,.search-button:focused{
    -fx-background-color: #0d47a1;
    -fx-background-radius: 30px;
    -fx-text-fill: white;
}

.search-button:pressed{
    -fx-text-fill: #0d47a1;
    -fx-border-color:#0d47a1;
    -fx-border-width:2px;
    -fx-border-radius: 30px;
}

.search-combo-box{
    -fx-border-color: #0d47a1;
    -fx-border-width:2px;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-border-radius: 10px;
}

.search-text-field{
    -fx-border-color: #0d47a1;
    -fx-border-width:2px;
    -fx-border-radius: 10px;
    -fx-padding: 0 0 0 20px;
}

.close-button{
    -fx-background-color: #f5fbfe;
    -fx-background-radius: 25px;
}