/*
.root{
    -fx-background-color: #e8f5e9;
    -fx-border-color: #1b5e20;
    -fx-border-width:2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.header-title{
    -fx-font-family: "Calibri";
    -fx-font-size: 22px;
    -fx-text-fill: "#1b5e20";
    -fx-font-weight: bold;
}

.button-bar{
    -fx-background-color: #a5d6a7;
}

.top-label{
    -fx-text-fill: black;
    -fx-font-weight:bold;
    -fx-font-family: "Calibri";
    -fx-font-size: 18px;
}

.backup-sevadar-action-button {
    -fx-text-fill: #1b5e20;
    -fx-border-color:#1b5e20;
    -fx-border-width:2px;
    -fx-border-radius: 15px;
    -fx-background-color: #e8f5e9;
    -fx-background-radius: 15px;
    -fx-font-family: "Calibri";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.backup-sevadar-action-button:hover, .backup-sevadar-action-button:focused{
    -fx-text-fill: #e8f5e9;
    -fx-border-color:#e8f5e9;
    -fx-border-width:2px;
    -fx-border-radius: 30px;
    -fx-background-color: #1b5e20;
    -fx-background-radius: 30px;
}

.table-view{
    -fx-background-color: #e8f5e9;
    -fx-background-radius: 10px;
}
.table-view .table-column{
    -fx-background-radius: 10px;
    -fx-border-color:#e8f5e9 #c8e6c9 #e8f5e9 #c8e6c9;
}

.table-view .table-column .label{
    -fx-text-fill: #e8f5e9;
    -fx-background-color:#1b5e20;
}

.table-row-cell{
    -fx-cell-size: 35px;
    -fx-font-family: "Calibri";
    -fx-font-size: 16px;
    -fx-font-weight:bold;
    -fx-background: #e8f5e9;
    -fx-padding: 3px;
}
.table-row-cell:odd {
    -fx-background: #c8e6c9;
}

.add-user{
    -fx-graphic: url("../../images/add_user.png");
}

.delete-user{
    -fx-graphic: url("../../images/remove_user_icon.png");
}

.swap-user{
    -fx-graphic: url("../../images/swap_user_icon.png");
}

.replace-user{
    -fx-graphic: url("../../images/replace_user_icon.png");
}

.move-user{
    -fx-graphic: url("../../images/move_user_icon.png");
}*/
