/*
.root{
    -fx-background-color: #1b5e20;
}

.main-layout{
    -fx-background-color: #e8f5e9;
}

.jfx-dialog-layout{
    -fx-background-color: #1b5e20;
    -fx-pref-width: 200px;
    -fx-pref-height: 100px;
    -fx-border-radius: 10px;
}

.jfx-layout-actions > *.jfx-button{
    -fx-text-fill: #1b5e20;
    -fx-pref-width: 75px;
    -fx-pref-height: 35px;
    -fx-border-color:#1b5e20;
    -fx-border-width:2px;
    -fx-border-radius: 15px;
    -fx-background-color: #e8f5e9;
    -fx-background-radius: 15px;
    -fx-font-family: "Calibri";
    -fx-font-size: 18px;
    -fx-font-weight: bold;

}*/
