.root{
    -fx-background-color: #e8f5e9;
    -fx-border-color: #1b5e20;
    -fx-border-width:2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}


.header-title{
    -fx-font-family: "Calibri";
    -fx-font-size: 22px;
    -fx-text-fill: "#1b5e20";
    -fx-font-weight: bold;
}

.button-bar{
    -fx-background-color: #a5d6a7;
}

.top-label{
    -fx-text-fill: black;
    -fx-font-weight:bold;
    -fx-font-family: "Calibri";
    -fx-font-size: 18px;
}

.phonetree-management-action-button {
    -fx-text-fill: #1b5e20;
    -fx-border-color:#1b5e20;
    -fx-border-width:2px;
    -fx-border-radius: 15px;
    -fx-background-color: #e8f5e9;
    -fx-background-radius: 15px;
    -fx-font-family: "Calibri";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.phonetree-management-action-button:hover, .sphonetree-management-action-button:focused{
    -fx-text-fill: #e8f5e9;
    -fx-border-color:#e8f5e9;
    -fx-border-width:2px;
    -fx-border-radius: 30px;
    -fx-background-color: #1b5e20;
    -fx-background-radius: 30px;
}

.dashboard{
    -fx-graphic: url("../../images/home.png");
}

.team-management{
    -fx-graphic: url("../../images/team_2.png");
}

.family-management{
    -fx-graphic: url("../../images/family.png");
}

.sevadars-phonetree-list{
    -fx-graphic: url("../../images/checklist.png");
}

.reports-management{
    -fx-graphic: url("../../images/reports.png");
}

.administration{
    -fx-graphic: url("../../images/admin.png");
}



