*{
    /*-icons-color: gray;*/

    /*Top Nav Bar and Pane*/
    -top-panel-color:#4CAF50;
    -top-nav-bar-color:#2e7d32;

    -main-nav-bar-color:#4CAF50;
    -main-nav-bar-icon-color:"ffffff";

    -action-nav-bar-color:#f5f5f5;

    /* application background color*/
    -app-background-color:#e5e5e5;
    -app-background-base-color:#ffffff;

    /* theme border color */
    -theme-border-color:#8f8f8f;


    /* headers font family*/
    -headers-font-family:"Trebuchet MS";
    -headers-text-color:#2e7d32;
    -accent-color:#448aff;


    /* table view colors */
    -table-view-alternate-color:#e5e5e5;
    -table-view-cell-selected-color:#448aff;
    -table-view-font-family:"Segoe UI Black";


    /* theme font family */
    -theme-font-family:"Segoe UI Black";
    -theme-text-color: black;
    -theme-text-secondary-color:black;


    -controls-focus-color:#1b5e20;
    -controls-unfocus-color:#a5d6a7;
}

.app-outer-border{
    -fx-border-color: -headers-text-color;
    -fx-border-width: 4px;
}
.top-panel{
    -fx-background-color: -top-panel-color;
}

.top-nav-bar{
    -fx-background-color: -top-nav-bar-color;
}

.border{
    -fx-border-color: -theme-border-color;
    -fx-border-width: 2px;
}

.top-border{
    -fx-border-width: 2px 0 0 0;
    -fx-border-color: -theme-border-color;
}

.bottom-border{
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: -theme-border-color;
}

.top-bottom-border{
    -fx-border-width: 2px 0 2px 0;
    -fx-border-color: -theme-border-color;
}

.border-radius{
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-border-color: -theme-border-color;
}

.background-radius{
    -fx-background-radius:15px;
}

.bold{
    -fx-font-weight: bold;
}

.semi-bold{
    -fx-font-weight: 600;
}

.font-16{
    -fx-font-size: 16px;
}

.font-18{
    -fx-font-size: 18px;
}

.font-20{
    -fx-font-size: 20px;
}

.font-22{
    -fx-font-size: 22px;
}

.white-text{
    -fx-text-fill: white;
}

.black-text{
    -fx-text-fill: black;
}

.header-font-family{
    -fx-font-family:-headers-font-family;
}
.label-text{
    -fx-font-family:-headers-font-family;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: -headers-text-color;
}

.table-view-font-family{
    -fx-font-family:-table-view-font-family;
}

.root{
    -fx-background-color: -app-background-color;
    /*-fx-border-color: -fx-theme-border-color;*/
}

.base{
    -fx-background-color: -app-background-base-color;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 5,0,0,1 );
}

.h1{
    -fx-font-family:-headers-font-family;
    -fx-font-size: 22px;
    -fx-text-fill: -headers-text-color;
}

.h2{
    -fx-text-fill: -headers-text-color;
    -fx-font-weight:bold;
    -fx-font-family: -theme-font-family;
    -fx-font-size: 18px;
}

/*
Action Button Bar
*/

.main-action-nav-bar{
    -fx-background-color: -main-nav-bar-color;
}

.main-action-button{
    -fx-text-fill: white;
    /*-fx-background-color: -accent-color;*/
    -fx-font-family: -theme-font-family;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-border-color: white;
    -fx-border-width: 0 0 2px 0;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 5,0,0,1 );
}


.main-action-button > .glyph-icon{
    -fx-fill: white;
}



.main-action-button:hover, .main-action-button:focused{
    -fx-text-fill: -headers-text-color;
    -fx-border-color: -headers-text-color;
    -fx-background-color: white;
}

.main-action-button:hover > .glyph-icon, .main-action-button:focused > .glyph-icon{
    -fx-fill: -headers-text-color;
}

.action-button-bar {
    -fx-background-color: -action-nav-bar-color;
}

.action-button{
    -fx-text-fill: -headers-text-color;
    -fx-background-color: transparent;
    -fx-font-family: -theme-font-family;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-border-color: -headers-text-color;
    -fx-border-width: 0 0 2px 0;
}

.action-button > .glyph-icon{
    -fx-fill: -headers-text-color;
}

.action-button:hover, .action-button:focused{
    -fx-text-fill: -main-nav-bar-color;
    -fx-border-color: -main-nav-bar-color;
    -fx-border-width: 0 0 2px 0;
}

.action-button:hover > .glyph-icon, .action-button:focused > .glyph-icon{
    -fx-fill: -main-nav-bar-color;
}


.close-button{
    -fx-background-color: -fx-theme-background-primary-color;
    -fx-background-radius: 25px;
    -fx-text-alignment: center;
}

/* Table View Settings */

.table-view{
    -fx-background-color: -fx-theme-background-primary-color;
    -fx-background-radius: 10px;
}
.table-view .table-column{
    /*-fx-border-color:-fx-theme-text-fill-primary-color -fx-theme-table-view-alternate-color -fx-theme-text-fill-primary-color -fx-theme-table-view-alternate-color;*/
    /*-fx-border-color: -theme-border-color;*/
}

.table-view .table-column .label{
    /*-fx-text-fill: -headers-text-color;*/
    -fx-text-fill: black;
    -fx-background-color:-app-background-color;
    -fx-padding: 12 0 12 0;
}

.table-row-cell{
    -fx-cell-size: 40px;
    -fx-font-family: -table-view-font-family;
   /* -fx-background: -fx-theme-background-primary-color;*/
}
.table-row-cell:odd {
    -fx-background: -table-view-alternate-color;
}

.table-row-cell:selected {
    -fx-background-color: -table-view-cell-selected-color;
}
.table-row-cell:selected .text {
    -fx-fill: -theme-text-color;

}



/* Text Field */
.text-field{
    -fx-border-color: -controls-unfocus-color;
    -fx-font-family: -headers-font-family;
    -fx-padding: 0 0 0 5px;
}

.text-field:focused{
    -fx-border-color: -controls-focus-color;
}




/* Combo Box */

.combo-box{
    -fx-border-color: -controls-unfocus-color;
    -fx-font-family: -headers-font-family;
}

.combo-box:focused{
    -fx-border-color: -controls-focus-color;
}



/*Pie Chart */

.piechart-background{
    -fx-background-color: -app-background-color;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
.piechart-pane{
    -fx-background-color: -app-background-base-color;
    -fx-border-color: -theme-border-color;
    -fx-border-width:2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.chart {
    -fx-padding: 10px;
}
.chart-content {
    -fx-padding: 30px;
}

.chart-title {
    -fx-font-family: -headers-font-family;
    -fx-font-size: 22px;
    -fx-text-fill: -headers-text-color;
    -fx-font-weight: bold;
}

.chart-pie-label {
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-family: -headers-font-family;
    -fx-font-weight: bold;
}


.chart-pie-label-line{
    -fx-fill: -theme-text-color;
    -fx-stroke: -theme-text-color;
}

.chart-legend {
    -fx-background-color:  transparent;
    -fx-padding: 20px;
    -fx-stroke: red;
}

.chart-legend-item-symbol{
    -fx-background-radius: 0;
}

.chart-legend-item .label{
    -fx-text-fill: -theme-text-color;
}

/*JFX Dialog Box */

.jfx-dialog-layout{
    -fx-background-color: -top-nav-bar-color;
    -fx-pref-width: 200px;
    -fx-pref-height: 100px;
    -fx-border-radius: 10px;
}

.jfx-layout-actions > *.jfx-button{
    -fx-text-fill: white;
    -fx-pref-width: 75px;
    -fx-pref-height: 35px;
    -fx-border-color:-theme-border-color;
    -fx-border-width:2px;
    -fx-border-radius: 15px;
    -fx-background-color: -top-nav-bar-color;
    -fx-background-radius: 15px;
    -fx-font-family: -theme-font-family;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-end-margin: 10px;
}



